mixin advantages
  section.advantages.container
    .wrapper
      p.advantages__title Блок преимуществ
      .advantages__grid
        .advantages__item.js-advantage
          .advantages__main
            .advantages__icon(data-icon="pay")
            p.advantages__heading Безналичный расчет
          .advantages__content
            ul.advantages__list
              li.advantages__list-item Отсрочка до 30 дней на сумму до 1 млн ₽
              li.advantages__list-item Оперативное согласование за 1 день
        .advantages__item.js-advantage
          .advantages__main
            .advantages__icon(data-icon="economy")
            p.advantages__heading Экономия до 30%
          .advantages__content
            ul.advantages__list
              li.advantages__list-item Отсрочка до 30 дней на сумму до 1 млн ₽
              li.advantages__list-item Оперативное согласование за 1 день
        .advantages__item.js-advantage
          .advantages__main
            .advantages__icon(data-icon="control")
            p.advantages__heading Контроль расходов
          .advantages__content
            ul.advantages__list
              li.advantages__list-item Отсрочка до 30 дней на сумму до 1 млн ₽
              li.advantages__list-item Оперативное согласование за 1 день
        .advantages__item.js-advantage
          .advantages__main
            .advantages__icon(data-icon="term")
            p.advantages__heading Отсрочка платежа <br>до 30 дней
          .advantages__content
            ul.advantages__list
              li.advantages__list-item Отсрочка до 30 дней на сумму до 1 млн ₽
              li.advantages__list-item Оперативное согласование за 1 день
        .advantages__item.js-advantage
          .advantages__main
            .advantages__icon(data-icon="services")
            p.advantages__heading Сервисы
          .advantages__content
            ul.advantages__list
              li.advantages__list-item Отсрочка до 30 дней на сумму до 1 млн ₽
              li.advantages__list-item Оперативное согласование за 1 день
        .advantages__item.js-advantage
          .advantages__main
            .advantages__icon(data-icon="support")
            p.advantages__heading Поддержка и ЭДО
          .advantages__content
            ul.advantages__list
              li.advantages__list-item Отсрочка до 30 дней на сумму до 1 млн ₽
              li.advantages__list-item Оперативное согласование за 1 день