mixin reso-faq
  section.reso-faq.container
    .reso-faq__wrapper.wrapper
      h2.reso-faq__heading Блок FAQ
      .reso-faq__col
        .reso-faq__item
          p.reso-faq__item-heading.js-faq-item Что такое КАСКО и ОСАГО?
          p.reso-faq__item-content В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения).
        .reso-faq__item
          p.reso-faq__item-heading.js-faq-item Что такое электронный полис? В чем его отличия от бумажного?
          p.reso-faq__item-content В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения).
        .reso-faq__item
          p.reso-faq__item-heading.js-faq-item Могу ли я купить электронный полис, если я не клиент РЕСО-Гарантия?
          p.reso-faq__item-content В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения).
        .reso-faq__item
          p.reso-faq__item-heading.js-faq-item Как происходит оформление полиса и его оплата?
          p.reso-faq__item-content В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения).
        .reso-faq__item
          p.reso-faq__item-heading.js-faq-item Куда обращаться при проблемах с оформлением?
          p.reso-faq__item-content В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения).
        .reso-faq__item
          p.reso-faq__item-heading.js-faq-item Как подтвердить сотруднику ГИБДД, что у меня есть электронный полис?
          p.reso-faq__item-content В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения). В описание к данным вопросам можно просто добавить случайный текст (для понимания визуального отображения).