mixin reso-advantages
  section.reso-advantages.container
    .wrapper
      h2.reso-advantages__heading Преимущества страхования через ППР
      .reso-advantages__grid
        .reso-advantages__card
          p.reso-advantages__card-heading Как оплатить полис?
          p.reso-advantages__card-desc Куратор ППР в РЕСО или сотрудник ППР пришлет вам счет от страховой компании.<br><br>
          ul
            li Юридические лица получают счет или ссылку на оплату банковской картой.<br><br>
            li Физические лица получают ссылку на оплату банковской картой.
          img(src="img/reso-advantages-1.svg", alt="").reso-advantages__card-image
        .reso-advantages__card
          p.reso-advantages__card-heading Как будет доставлен полис?
          p.reso-advantages__card-desc Вы получите электронный полис, который имеет равную юридическую силу с бумажной версией, по адресу электронной почты, указанному в заявке.
          img(src="img/reso-advantages-2.svg", alt="").reso-advantages__card-image
        .reso-advantages__card
          p.reso-advantages__card-heading Как получить поддержку?
          p.reso-advantages__card-desc По телефонным номерам страховой компании, указанным в полисе.<br><br>
          a(href="#").reso-advantages__card-link Заказать сейчас
          img(src="img/reso-advantages-3.svg", alt="").reso-advantages__card-image