doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Разводящая страница
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      .container
        .wrapper
          ul
            li
              a(href="oilcard.html") Топливная карта Вездеход Online
            li
              a(href="reso.html") РЕСО