.banner
  margin-bottom: 6.25vw
  &__card
    position: relative
    padding: 6.25vw 5.989583333vw
    border-radius: 0.5208333333vw
    background-image: linear-gradient(102.81deg, #00CFCC 0%, #3AEDEA 100%)
    color: #fff
  &__sale1
    position: absolute
    top: 0.614583333vw
    right: 0
    width: 37.65625vw
    height: 18.48958333vw
    font-size: 20.83333333vw
    font-weight: 700
  &__sale
    position: absolute
    top: 6.614583333vw
    right: 0
    width: 37.65625vw
    height: 18.48958333vw
    background:
      image: url('../img/banner-sale.png')
      size: contain
      position: center
      repeat: no-repeat
  &__badge
    overflow: hidden
    position: absolute
    display: block
    top: 19vw
    right: 30.6vw
    width: 7.291666667vw
    height: 7.291666667vw
    border-radius: 50%
    backdrop-filter: blur(25px)
    &:after
      z-index: 2
      content: ''
      position: absolute
      display: block
      top: 50%
      left: 50%
      width: 5.9375vw
      height: 5.9375vw
      transform: translate(-50%, -50%)
      background:
        image: url('../img/sale-badge.svg')
        size: contain
        position: center
        repeat: no-repeat
    &:before
      z-index: 1
      content: '1'
      position: absolute
      display: block
      bottom: 0
      left: 0
      line-height: 1
      background-color: rgba(255, 255, 255, .3)
      filter: blur(15px)
      font:
        size: 22.91666667vw
        weight: 700
  &__content
    width: 26.04166667vw
    margin-bottom: 5.208333333vw
  &__heading
    font-weight: 700
  &__desc
    margin-bottom: 3.125vw
  &__disclaimer
    line-height: 1.302083333vw
    font-size: 0.9375vw

@media only screen and (max-width: $adaptive)
  .banner
    margin-bottom: 0
    &__card
      width: 100vw
      margin-left: -6.25vw
      padding: 12.5vw 6.25vw 
    &__badge
      top: 49vw
      right: 28.6vw
      width: 21.25vw
      height: 21.25vw
      backdrop-filter: none
      background-color: rgba(255, 255, 255, 0.3)
      &:before
        display: none
      &:after
        width: 17.1875vw
        height: 17.1875vw
    &__sale
      top: 60vw
      left: 6.25vw
      right: auto
      width: 86.5625vw
      height: 38.125vw
      background-image: url('../img/banner-sale-mobile.png')
    &__content
      width: 100%
      margin-bottom: 9.375vw
      text-align: center
    &__heading,
    &__desc
      display: inline
      line-height: 1.25
      font-size: 5.625vw
    .button
      margin-top: 62.5vw
    &__disclaimer
      text-align: center
      line-height: 1.25
      font-size: 3.75vw