include ../_ui/button/button

mixin header
  header.header.container
    .header__wrapper.wrapper
      img.header__logo(src="img/logo.svg", alt="")
      .header__info
        a(href="mailto:sales@petrolplus.ru").header__email sales@petrolplus.ru
        .header__phone 8 (800) 5555-200
        +button-secondary('link', 'Заказать карту', '', {link: 'javascript:void(0)'})