include ../_ui/button/button

mixin hero
  section.hero.container
    .hero__wrapper.wrapper
      .hero__cards
      .hero__content
        h1.hero__heading Топливная карта Вездеход Online
        p.hero__desc для юридических лиц и ИП
        .hero__tags
          p.hero__tag Скидка до 1,5 ₽ с литра на все виды топлива!
          p.hero__tag Безналичный расчет
          p.hero__tag Контроль и управление расходами
          p.hero__tag Более 13 000 АЗС по всей России
          p.hero__tag Экономия на топливе до 30%
          p.hero__tag Отсрочка платежа до 30 дней
        +button-primary-arrow('link', 'Оставить заявку', '', {link: 'javascript:void(0)'})