.hero
  overflow: hidden
  margin-bottom: 6.25vw
  padding: 4.6875vw 0 6.458333333vw 0
  background:
    image: linear-gradient(103.46deg, #F1F5F8 9.93%, #E6F3FF 46.59%, #F2FFFF 99.71%)
    color: #F1F5F8
  &__wrapper
    position: relative
  &__cards
    position: absolute
    bottom: -15.72916667vw
    right: -1.822916667vw
    width: 42.70833333vw
    height: 56.25vw
    background:
      image: url('../img/hero-cards.png')
      position: center
      size: contain
      repeat: no-repeat
  &__content
    width: 35.9375vw
  &__heading
    margin-bottom: 1.5625vw
    line-height: 1.125
    font:
      size: 4.166666667vw
      weight: 900
  &__desc
    margin-bottom: 3.333333333vw
    line-height: 1.7
  &__tags
    width: calc(100% + 1.041666667vw)
    margin-bottom: 2.604166667vw
    .slick-slide
      padding: 0 3.125vw 3.125vw 0
    .slick-arrow
      display: none !important
    &-inner
      display: flex
      flex-flow: row wrap
      justify-content: start
      align-items: flex-start
  &__tag
    margin: 0 1.041666667vw 1.041666667vw 0
    padding: 0.7291666667vw 1.302083333vw
    border-radius: 10vw
    background-color: #fff
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.05)
    line-height: 1.1
    font-size: 0.9375vw

@media only screen and (max-width: $adaptive)
  .hero
    margin-bottom: 15.625vw
    padding: 10.3125vw 0 0 0
    &__wrapper
      padding-bottom: 59.375vw !important
      background:
        image: url('../img/hero-card.png')
        size: 87.5vw
        position: bottom center
        repeat: no-repeat
    &__cards
      display: none
    &__content
      width: 100%
    &__heading
      margin-bottom: 4.6875vw
      text-align: center
      font-size: 9.375vw
    &__desc
      margin-bottom: 4.6875vw
      text-align: center
      font-size: 6.25vw
    &__tags
      width: 100vw
      margin: 0 0 0 -6.25vw
    &__tag
      margin: 0 3.125vw 3.125vw 0
      padding: 2.5vw 4.0625vw
      border-radius: 10vw
      background-color: #fff
      box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.05)
      line-height: 1.5
      font-size: 3.75vw
    &__btn
      margin-top: 6.25vw