.checkbox
  display: flex
  flex-flow: row nowrap
  cursor: pointer
  &__input
    opacity: 0
    visibility: hidden
    width: 0
    height: 0
    margin: 0
    &:checked ~ .checkbox__box
      background-color: $blue
      .checkbox__box-mark
        &:before
          height: 0.2083333333vw
          transition: all .15s ease-in
        &:after
          width: 0.5208333333vw
          transition: all .15s ease-in .15s
  &__box
    position: relative
    flex-shrink: 0
    width: 1.40625vw
    height: 1.40625vw
    border: 0.1041666667vw solid $blue
    border-radius: 50%
    transition: background-color .3s ease
    &-mark
      position: relative
      top: 0.4166666667vw
      left: 0.3125vw
      width: 0.5208333333vw
      height: 0.2083333333vw
      transform: rotate(-45deg)
      &:before,
      &:after
        content: ""
        display: block
        background-color: #fff
      &:before
        width: 0.1041666667vw
        height: 0
        transition: all .15s ease-out .15s
      &:after
        top: 0.2604166667vw
        height: 0.1041666667vw
        width: 0
        transition: all .15s ease-out
  &__text
    margin-left: 0.625vw
    font-size: 1.041666667vw
    a
      color: $blue
      text-decoration-color: $blue

@media only screen and (max-width: $adaptive)
  .checkbox
    &__input
      &:checked ~ .checkbox__box
        .checkbox__box-mark
          &:before
            height: 1vw
          &:after
            width: 2.75vw
    &__box
      width: 4.6875vw
      height: 4.6875vw
      border-width: 0.625vw
      &-mark
        top: 0.75vw
        left: 0.4vw
        width: 2.5vw
        height: 1.5625vw
        &:before
          width: 0.625vw
        &:after
          height: 0.625vw
    &__text
      margin-left: 3.125vw
      font-size: 3.4375vw